section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-links, a {
  list-style: none;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}
/* IE 6 */
* html .footer {
  position:absolute;
  top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

/* Color Theme Swatches in Hex */
.COREFLIGHTS-—-Mobile-App-1-hex { color: #0460D9; }
.COREFLIGHTS-—-Mobile-App-2-hex { color: #0476D9; }
.COREFLIGHTS-—-Mobile-App-3-hex { color: #1E3E59; }
.COREFLIGHTS-—-Mobile-App-4-hex { color: #F24F13; }
.COREFLIGHTS-—-Mobile-App-5-hex { color: #F2F2F2; }

/* Color Theme Swatches in RGBA */
.COREFLIGHTS-—-Mobile-App-1-rgba { color: rgba(4, 96, 216, 1); }
.COREFLIGHTS-—-Mobile-App-2-rgba { color: rgba(4, 117, 216, 1); }
.COREFLIGHTS-—-Mobile-App-3-rgba { color: rgba(30, 61, 89, 1); }
.COREFLIGHTS-—-Mobile-App-4-rgba { color: rgba(242, 78, 19, 1); }
.COREFLIGHTS-—-Mobile-App-5-rgba { color: rgba(242, 242, 242, 1); }

/* Color Theme Swatches in HSLA */
.COREFLIGHTS-—-Mobile-App-1-hsla { color: hsla(213, 96, 43, 1); }
.COREFLIGHTS-—-Mobile-App-2-hsla { color: hsla(208, 96, 43, 1); }
.COREFLIGHTS-—-Mobile-App-3-hsla { color: hsla(208, 49, 23, 1); }
.COREFLIGHTS-—-Mobile-App-4-hsla { color: hsla(16, 89, 51, 1); }
.COREFLIGHTS-—-Mobile-App-5-hsla { color: hsla(0, 0, 95, 1); }
/* Color Theme Swatches in Hex */
.Xiaomis-official-website-1-hex { color: #0F31F2; }
.Xiaomis-official-website-2-hex { color: #0F1640; }
.Xiaomis-official-website-3-hex { color: #164DF2; }
.Xiaomis-official-website-4-hex { color: #2E83F2; }
.Xiaomis-official-website-5-hex { color: #F23005; }

/* Color Theme Swatches in RGBA */
.Xiaomis-official-website-1-rgba { color: rgba(14, 48, 242, 1); }
.Xiaomis-official-website-2-rgba { color: rgba(14, 22, 63, 1); }
.Xiaomis-official-website-3-rgba { color: rgba(21, 76, 242, 1); }
.Xiaomis-official-website-4-rgba { color: rgba(46, 131, 242, 1); }
.Xiaomis-official-website-5-rgba { color: rgba(242, 48, 4, 1); }

/* Color Theme Swatches in HSLA */
.Xiaomis-official-website-1-hsla { color: hsla(230, 89, 50, 1); }
.Xiaomis-official-website-2-hsla { color: hsla(230, 62, 15, 1); }
.Xiaomis-official-website-3-hsla { color: hsla(225, 89, 51, 1); }
.Xiaomis-official-website-4-hsla { color: hsla(213, 88, 56, 1); }
.Xiaomis-official-website-5-hsla { color: hsla(11, 96, 48, 1); }
