<nav class="navbar navbar-expand-md navbar-light header-ground">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand name" href="#">ScottTresor</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item active">
          <a class="nav-link name" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link name" href="#">Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link name" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
