<div class="project">
  <div class="container">
    <div class=" pt-6 text-center">
      <h2>Ours Projects</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique rem laudantium .</p>
      <div class="contact-span">
        <span></span>
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-top: -5%;">
  <div class="card card-content">
    <div class="view overlay">
      <div class="card-body card-body-cascade text-center">
        <!-- Title -->
        <h4 class="card-title"><strong>My adventure</strong></h4>
        <!-- Subtitle -->
        <h6 class="font-weight-bold indigo-text py-2">Photography</h6>
        <!-- Text -->
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem perspiciatis
          voluptatum a, quo nobis, non commodi quia repellendus sequi nulla voluptatem dicta reprehenderit, placeat
          laborum ut beatae ullam suscipit veniam.
        </p>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="project-content">
    <h2>Mes realisations</h2>
    <div class="project-folio">
      <div class="row">
        <div class="col-md-4 col-xss-6">
          <!-- Card -->
          <div class="card">
            <!-- Card image -->
            <div class="view overlay">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card content -->
            <div class="card-body">
              <!-- Text -->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>
          <!-- Card -->
          <br>
        </div>
        <div class="col-md-4 col-xss-6">
          <app-card></app-card>
          <br>
        </div>
        <div class="col-md-4 col-xss-6">
          <app-card></app-card>
          <br>
        </div>
        <div class="col-md-4 col-xss-6">
          <app-card></app-card>
          <br>
        </div>
        <div class="col-md-4 col-xss-6">
          <app-card></app-card>
          <br>
        </div>
        <div class="col-md-4 col-xss-6">
          <app-card></app-card>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
