<div class="container">
  <div class="main">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-12 ">
        <div class="header-title navbar-title">
          <p class="move"><span>HELLO</span>, I'M SCOTT TRESOR.</p>
          <h2 class="mt-3 sizing">WEB DEVELOPPEUR</h2>
          <span class="square"></span>
        </div>
        <p class="header-p">Lorem ipsum dolor sit amet elit elit,  consectetur adipisicing elit consectetur adipisicing elit dipisicing elit. </p>
        <div class="header-button">
          <a [routerLink]="" class="btn btn-outline-secondary btn-rounded">Hire Me</a>
          <a [routerLink]="" class="btn btn-outline-secondary btn-rounded ml-3 btn-rounded">Get cv</a>
        </div>
        <div class="header-link">
          <a href="https://linkedin.com/scott-tresor">
            <i class="fa fa-linkedin-square fa-2x"></i>
          </a>
          <a href="https://twitter.com/scott-tresor" class="ml-4">
            <i class="fa fa-twitter-square fa-2x"></i>
          </a>
          <a href="https://github.com/scott-tresor" class="ml-4">
            <i class="fa fa-github-square fa-2x"></i>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="content">
          <img src="/assets/images/banner.png" class="img-fluid" alt="banner">
        </div>
      </div>
    </div>
  </div>
</div>

<section class="container">
  <div class="speciality">
    <div class="row">
      <div class="col-lg-7 col-md-7">
        <div class="card1">
          <div class="row">
            <div class="col-lg-6 col-md-6 " style="margin-top:13% ">
              <app-card></app-card>
              <br>
              <app-card ></app-card>
            </div>
            <div class="col-lg-6 col-md-6 " >
              <app-card></app-card>
              <br>
              <app-card ></app-card>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-mg-5">
        <div class="text-right" style="position:sticky !important; top:20px !important;">
          <p class="special-p">WHAR I DO</p>
          <h2 class="special-title">Specializing In</h2>
          <span class="special-sp"></span>
          <p class="special-body">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea odio quasi corporis temporibus dignissimos tempore molestias fuga ducimus eius fugiat. Iste in minima impedit quaerat rerum doloribus iure quidem sint?dignissimos tempore molestias fuga ducimus eius fugiat.
          </p>
        </div>

      </div>
    </div>
  </div>
</section>

<div class="container-fluid mt-5 mb-5 pt-5 pb-5 porto">
  <div class="container">
    <div class="row flex-center">
      <div class="col-md-3" *ngFor="let item of col">
        <div class="porto-item">
            <h1>{{ item.number }}</h1>
            <h5>{{ item.titre }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="service-p">
    <span>Service</span>
    <div class="row">
      <div class="col-md-4">
        <h2 class="mt-3">Recents travails</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4 text-right">
        <button class="btn btn-outline-success">Explore more</button>
      </div>
    </div>
    <div class="service-project">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <app-card ></app-card>
        </div>
        <div class="col-md-4 col-sm-6">
          <app-card ></app-card>
        </div>
        <div class="col-md-4 col-sm-6">
          <app-card ></app-card>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="news-letter"></div>
</div>
