/* Color Theme Swatches in Hex */
.ecommerce-1-hex { color: #025949; }
.ecommerce-2-hex { color: #038C65; }
.ecommerce-3-hex { color: #D9A679; }
.ecommerce-4-hex { color: #BF4226; }
.ecommerce-5-hex { color: #F2F2F2; }

/* Color Theme Swatches in RGBA */
.ecommerce-1-rgba { color: rgba(1, 89, 73, 1); }
.ecommerce-2-rgba { color: rgba(2, 140, 101, 1); }
.ecommerce-3-rgba { color: rgba(216, 165, 121, 1); }
.ecommerce-4-rgba { color: rgba(191, 66, 38, 1); }
.ecommerce-5-rgba { color: rgba(242, 242, 242, 1); }

/* Color Theme Swatches in HSLA */
.ecommerce-1-hsla { color: hsla(168, 96, 17, 1); }
.ecommerce-2-hsla { color: hsla(163, 96, 28, 1); }
.ecommerce-3-hsla { color: hsla(28, 55, 66, 1); }
.ecommerce-4-hsla { color: hsla(11, 66, 44, 1); }
.ecommerce-5-hsla { color: hsla(0, 0, 95, 1); }


.contact{
  height: 350px;
  width: 100%;
  background: #025949;
  color: white 
}
.pt-6{
  padding-top: 10%;
}

span {
  height: 50px;
  width: 100px;
  background: #F2F2F2;
}

.pt-6 h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 2%;
}


.contact-pages{
  margin-top: 10%;
}
.contact-form {
  padding: 30px;
}
.contact-pages h3 {
  text-align: center;
  margin-bottom: 5%;
  font-weight: bold;
  color: #20202A;
}

.contact-img{
  text-align: center;
}
