<div>
  <app-header></app-header>
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-12">
          <div class="header-title">
            <p><span>HELLO</span>, I'M SCOTT TRESOR.</p>
            <h2>WEB DEVELOPPEUR</h2>
          </div>
          <p class="header-p">Lorem ipsum dolor sit amet,  consectetur adipisicing elit consectetur adipisicing elit. </p>
          <div class="header-button">
            <a href="" class="btn btn-outline-secondary btn-rounded">Hire Me</a>
            <a href="" class="btn btn-outline-secondary btn-rounded ml-3 btn-rounded">Get cv</a>
          </div>
          <div class="header-link">
            <a href="">
              <i class="fa fa-linkedin-square fa-2x"></i>
            </a>
            <a href="" class="ml-4">
              <i class="fa fa-twitter-square fa-2x"></i>
            </a>
            <a href="" class="ml-4">
              <i class="fa fa-github-square fa-2x"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
