.main{
  background: #ffffff;
  color: black;
  height: 400px;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}
.content {
  background-position: center;
  height: 100%;
  width: auto;
  background-repeat: no-repeat;
}
.navbar-title{
  margin-top: 58px;
}

.move{
  font-size: 25px;
  font-weight: bolder;
}
.square{
  height: 12px;
  width: 12px;
  display: inline-block;
  background: #f9a826;
  margin: 5px 0;
}
.sizing{
  z-index: auto;
  font-size: 49px;
  text-shadow: 0.1px 1px 1px black;
  color: #2f2e41;
}
.header-title{
  font-size: 19px;
}
.btn-rounded {
  padding: 16px 40px;
  border: 2px solid #f9a826;
  outline: none;
  font-weight: bold;
  border-radius: .5em;
}
.header-p{
  line-height: 29px;
  color: #777;
}
.header-button {
  margin-bottom: 20px;
}

.speciality{
  margin-top: 15%;
}

@media only screen and (max-width: 990px){
  .sizing{
    z-index: auto;
    font-size: 36px;
    text-shadow: 0.1px 1px 1px black;
    color: #2f2e41;
  }
  .content img{
    margin-top: 58px;
  }
  span.square{
    display: none;
  }
  .btn-rounded {
    padding: 13px 40px;
    border: 2px solid #f9a826;
    outline: none;
    font-weight: bold;
    border-radius: .5em;
  }
  .header-p{
    line-height: 21px;
    color: #777;
  }
  .move{
    font-size: 20px;
    font-weight: bolder;
  }
}
@media only screen and (max-width:590px){
  .header-title{
    padding-top: 10%;
    font-size: 19px;
    text-align: center;
  }
  .header-title p{
    text-transform: uppercase;
    padding-bottom: 4%;
    margin-bottom: 0;
    text-align: center;
  }
  .header-button {
    padding-top: 3%;
    margin-bottom: 0;
    text-align: center;
  }
  .header-p{
    font-size: 15px;
    color: rgba(1, 2, 8, 0.78);
    font-weight: bold;
    text-align: center;
  }
  .header-link{
    padding-top: 5%;
    text-align: center;
  }
  .btn-rounded {
    border-radius: 10em;
    padding: 10px 28px;
  }
}

@media only screen and (max-width:420px) {
  .main{
    height: 350px;
  }
  .speciality{
    margin-top: 50px;
  }
  .navbar-title{
    margin-top: 26px;
  }
  .square{
    display: none;
  }
  .header-title{
    padding-top: 1%;
    font-size: 19px;
    text-align: center;
  }
  .sizing {
    z-index: auto;
    font-size: 30px;
    text-shadow: 0.1px 1px 1px black;
    color: #2f2e41;
  }
  .header-title p{
    text-transform: uppercase;
    padding-bottom: 1%;
    margin-bottom: 0;
    text-align: center;
  }
  .header-button {
    padding-top: 3%;
    margin-bottom: 0;
    text-align: center;
  }
  .header-p{
    font-size: 14px;
    color: rgba(1, 2, 8, 0.78);
    font-weight: bold;
    text-align: center;
  }
  .header-link{
    padding-top: 5%;
    text-align: center;
  }
  .btn-rounded {
    border-radius: .5em;
    padding: 5px 19px;
  }
  .content {
    display: none;
    top: 0;
    bottom: 0;
  }
  .speciality{
    margin-top: 10%;
  }
  #special{
    margin-top: 10%;
  }
}

span{
  color: #0d0c46eb;
}


#special{
  text-align: right;
}

.special-sp{
  height: 5px;
  width: 150px;
  display: inline-block;
  background: linear-gradient(to right, #fdfdfd, #403e50);
  border-radius: .5em;
}

.special-title{
  font-size: 37px;
  font-weight: bolder;
  color: #37474F;
}

.special-p{
  font-size: medium;
  font-weight: bold;
  color: #2e569a;
}

.special-body{
  font-size: 13px;
  color: #777;
  font-weight: 500;
  padding-top: 5%;
}

#special-card{
  padding-top: 10%;
}
