.raduis{
  border-radius: .5em;
}
.img-font{
  padding: 15px 19px;
}

.img-font svg {
  margin: 5%;
  border-radius: 2em;
  background: #a4baec66;
}
.img-font svg:hover {
  background: #9ebdf1;
  transition: background .5s;
  transition: border .5s;
}
.img-p{
  opacity: .8;
  font-size: medium;
}

.img-font h2 {
  font-weight: 600;
}
svg {
  padding: 3px 5px;
}
